@use "../global" as *;

// MVセクション
.p-front__mv {
    position: relative;
    aspect-ratio: 1440/500;
    display: grid;
    place-items: center;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../../img/pict/mv.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.p-front__mv-content {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(-20px);
}
.p-front__mv-content-img {
    aspect-ratio: 50/40;
    max-width: 50px;
}

.p-front__mv-content-button {
    aspect-ratio: 100/50;
    max-width: 100px;
}

// 学習状況セクション
.p-front__study {
    margin-top: 120px;
}

.p-front__study-content {
    p {
        margin: 30px 0;
    }
}

.p-front__study-content-total {
    margin-bottom: 50px;
    table {
        border-radius: 5px;
        border: 1px solid $border;
        border-collapse: separate;
        overflow: hidden;
        thead {
            background-color: $green-bg;
            font-size: 1.8rem;
        }
        th,
        td {
            width: 150px;
            text-align: center;
            border: 0.5px solid $border;
        }
        th {
            padding: 10px 10px;
        }
        td {
            padding: 15px 10px;
        }
    }
}

.p-front__study-content-bar-graph {
    max-width: 600px;
}

// アバターセクション
.p-front__avatar {
    margin-top: 100px;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 50px 50px;
    width: 60%;
}

.p-front__avatar-content-avatar {
    display: inline-block;
    text-align: center;
}

.p-front__avatar-content-img {
    margin-bottom: 10px;
    aspect-ratio: 1/1;
    max-width: 150px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.p-front__avatar-content {
    padding: 50px 0;
    .c-button-link {
        margin-left: auto;
    }
}

.p-front__avatar-content-status {
    > p {
        margin-bottom: 20px;
    }
    margin: 50px 0px;
    progress {
        width: 360px;
        height: 20px;
        -webkit-appearance: none;
    }
    progress::-webkit-progress-bar {
        background-color: $gray-bg;
        border-radius: 5px;
    }
    progress::-webkit-progress-value {
        background-color: green;
        border-radius: 5px;
    }
}
