@use "../global" as *;

.p-quest-detail {
    margin-top: 100px;
}

.p-quest-detail__content {

}

.p-quest-detail__content-text {
    display: inline-block;
    padding: 30px 50px;
    border-radius: 5px;
    background-color: $green-bg;
    h3 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    margin-top: 50px;
}

.p-quest-detail__time {
    margin-top: 80px;
    & .c-button-link {
        margin-top: 30px;
        margin-left: auto;
    }
}

.p-quest-detail__time-measure {
    margin-top: 50px;
    border: 1px solid $gray;
    border-radius: 10px;
    padding: 50px;
    width: 60%;
}

.p-quest-detail__time-measure-wrap {
    form {
        display: flex;
        align-items: center;
        > button {
            & + button {
                margin-left: 10px;
            }
            &.disabled {
                -webkit-filter: grayscale(1); /* Webkit */
                filter: grayscale(1); /* W3C */
            }
        }
    }
}

.p-quest-detail__time-measure-result {
    margin-left: 50px;
    time {
        font-size: 3rem;
    }
}

.p-quest-detail__time-measure-text {
    opacity: .8;
    h3 {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    margin-top: 30px;
}
