@use "../global" as *;

.p-quest-list {
    margin-top: 100px;
}

.p-quest-list__select {
    margin: 80px 0;
    h3 {
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    details {
        position: relative;
        // padding: 15px 30px;
        border: 1px solid $border;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
        }
        &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            right: 20px;
            top: 24px;
            transform: translateY(-50%) rotate(45deg);
            border-bottom: 2px solid $black;
            border-right: 2px solid $black;
            z-index: 1;
            pointer-events: none;
        }
        & + details {
            margin-top: 10px;
        }
        .p-quest-list__select-content {
            padding: 15px 30px;
            margin-top: 30px;
            h4 {
                margin-bottom: 5px;
            }
            & + .p-quest-list__select-content {
                margin-top: 20px;
            }
        }
        summary {
            padding: 15px 30px;
            font-size: 2rem;
        }
        ul {
            li {
                border-top: 1px solid $border;
                button {
                    width: 100%;
                    padding: 10px 0 10px 20px;
                    text-align: left;
                }
            }
        }
    }
}
