// 色の変数を記述
// mainやsubなど抽象表現には-colorをつけてください。
// blackやwhiteなど色の名前は-colorは無しで命名してください。

// メインカラー
// $main-color: #052b58;

// サブカラー
// $sub-color: #00836a;
// $navy: #040732;
// $green: #254047;

// アクセントカラー
// $accent-color: #f3c921;

//ブラック
$black: #222222;
// サイトで最も暗い色
$black-dp: #000;

// サイトで最も暗い色よりも柔らかな色
// $mild-black: #383838;

// サイトで最も明るい色
$white: #fff;

// グレーカラー
$gray: #757575;
$gray-bg: #f0f0f0;

$border: #d8d8d8;
