@use "../global" as *;

.c-button {
    max-width: 150px;
    a {
        padding: 12px 18px;
        width: 100%;
        color: $white;
        text-decoration: none;
        background-color: $black;
        border-radius: 3px;
    }
}
