@use "../global" as *;


.c-header {
    position: fixed;
    padding: 40px 30px;
    background-color: $white;
    z-index: 2;
    left: 0;
    right: 0;
    & + * {
        padding-top: 140px;
    }
}

.c-header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
